#codeInput1{

      display:block;
      width:100%;
      border:none;
      background:transparent;
      color:#fff;
      outline:none;
      font-family:'Fira Code',monospace;
      font-size:0.9rem;
      padding:0;

    }

#codeInput1::placeholder{
    color:rgba(255,255,255,0.6)
}

#codeInput2{

      display:block;
      width:100%;
      border:none;
      background:transparent;
      color:#fff;
      outline:none;
      font-family:'Fira Code',monospace;
      font-size:0.9rem;
      padding:0;
    }

#codeInput2::placeholder{
    color:rgba(255,255,255,0.6)
}

#userInput{
    display:block;
      width:100%;
      border:1px solid var(--active-border-color);
      background:transparent;
      color:#fff;
      outline:none;
      font-family:'Fira Code',monospace;
      font-size:0.9rem;
      padding:0;
}

#sayHelloBtn{
    padding: 0.6rem 1.2rem;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}